@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700');

$small: 540px;
$medium: 720px;
$large: 960px;
$extra: 1140px;

*, *:before, *:after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: silver;
  font-family: "Libre Baskerville", sans-serif;
}
.app {
  position: relative;
  top: 0;
}


.btn-primary {
  font-family: "Varela Round", serif;
  padding: 10px 20px;
  text-transform: uppercase;
  background: linear-gradient(to right, #d41f23 0%,#e96b5b 100%);
  border: 1px solid white;
  color: white;
  border-radius: 15px;
  outline: none;
  &:hover{
    filter: brightness(90%);
  }

}
